@charset "utf-8";
/* CSS Document 
	For BrowsePublishedProject.jsp,SuggestThreads.jsp
Stan
*/
input[type="search"]::-webkit-search-cancel-button {

   /* Remove default */
    -webkit-appearance: none;
    
    /* Now your own custom styles */
    height: 10px;
    width: 10px;
    background: red;
    /* Will place small red box on the right of input (positioning carries over) */

}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: center;
}

.close {
   border-top: 2px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.close:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.close:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

#button{
	float: left;
        padding:10px 400px;        
}


#tbody h5{
            margin: 0;
                font-size: 18px;
                background: -webkit-linear-gradient(#eee, #333);
                -webkit-background-clip: text;
                opacity: 0.5;    
            }
#tbody td:hover > h5 {
            opacity: 0.5;
            }
#tbody td:hover > h5:hover {
            opacity: 1.0;
            }

.styled-select{
    margin-top: 1em;
            }
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   }
   
label, h3, h4, h5, h6 {
margin: 0 0 1em 0;
padding: 0;
font-family: "Whitney Cond A","Whitney Cond B","ronnia-condensed",sans-serif;
font-weight: 700;
font-style: normal;
line-height: 1.1;
}

label:after { content: ": " }