#td_info{
	background-color: #EFEFEF;
	width: 940;
	height: 30;
}


#td_name{
	width: 500px;
	height: auto;
	float:left;
}
#button{
	float: right;
}
#button ul{
	margin:0px;
	padding: 0px;
	font-size: 14px;
}
#button li{
	border-style:solid;
	border-width:1px;
	background-color: #01B0F1;
	padding: 2px 6px;
	margin: 0 5px;
	float: left;
	list-style-type:none;
}

#button li a
{
	color:black;
}



a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:black;}
a:active  {color:black;}

#wrapper_ln {
	width: 940px;
	height: 300px;
	background: #bbc5ad;
	position: relative;
}

#note_content{
	border-style:solid;
	border-width:2px;
	border-color: #72A882;
	background-color: #54816c;
	width: 650px;
	height: 280px;
	background: #FFFFFF;
	margin: 5px;
	padding: 3px;
	position: absolute;
	top:0px;
	left: 270px;
	overflow-y:auto;
}

.disabled {
	color:gray;
}

#Thread_History li {	
	display: block;
	text-decoration: none;
	text-align: center;
}

.dropdown {
	overflow-y: auto;
	visibility:hidden;
	position: absolute;
}

#thread_history_options
{
	border-style:solid;
    border-color:#FFFFFF;
}

#thread_history_options ul li {
	background-color:#7FC6BC;
	display: block;
	float: none;
	left: 0%;
	padding: 0px 0px;
	list-style: None;
	border-style: None;
}

#thread_sddm li:hover > div {
	visibility:visible;
	background-color:#7FC6BC;
}

.chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}

.qtip-content{
        position: relative;
        padding: 5px 10px;
        text-align: left;
        height: 110px;
        width: 220px;
        overflow:auto;
        font-family:"Times New Roman",Georgia,Serif;
        font-size:13px;
        word-wrap: break-word;
    }
.red {
    color: red;   
}
.green {
    color: green;   
}
.blue {
    color: blue;   
}
.yellow {
    color: yellow;   
}
.purple {
	color: purple;
}
.highlight { background-color: yellow }